@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
  .swiper-button-next {
    width: 35px !important;
    height: 35px !important;
    background-color: #fff !important;
    border-radius: 50%;
    color: #000 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 1px rgb(152, 150, 150);
    border-radius: 3px;
    border-radius:100% ;
    padding: 30px;
  }
  .swiper-button-next::after,.swiper-button-prev::after{
    font-size: 22px !important;
    font-weight: bold;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover{
    background-color: rgb(239, 243, 243) !important; 
  }
